<div class="ui one column grid">
  <div class="row">
    <div class="column">
      <div>
        <h1>
          {{error.status}}</h1>
        <h2>
          {{error.message}}</h2>
        <div>
          <pre>
          {{error.stack}}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
