<div class="textCenter">
<form id="loginFormBlock" class="ui form center aligned basic segment" method="post" action="./users/auth">
<h1>Sign In</h1>
  <div class="required field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" autofocus="autofocus" autocomplete="off" />
  </div>
  <div class="required field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <button type="submit" class="ui green button">Sign in</button>
  <a class="ui button red" href="./">Cancel</a>
</form>
</div>