<div class="textCenter">
  <form id="registerFormBlock" class="ui form center aligned basic segment" method="post" action="./users/register">
    <h1>Register New User</h1>
    <div class="required field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username" autofocus="autofocus" autocomplete="off" />
    </div>
    <div class="required field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" />
    </div>
      <div class="required field">
      <label>Confirm Password</label>
      <input type="password" name="confirmPassword" placeholder="Confirm Password" />
    </div>
    <button type="submit" class="ui primary button">Register</button>
    <a class="ui button red" href="./">Cancel</a>
  </form>
</div>