<!doctype html>
<html lang="en">
<head>
  <base href="{{baseURL}}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Assignment 2 - Snippets</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>

<body>
    {{>header}}
    <main role="main">
      {{>flash}}
      {{{body}}}
    </main>
</body>
</html>
