<div class="textCenter">
<h1>Create Snippet</h1>
<form class="ui form center aligned basic segment" method="post" action="./create">
  <div class="required field">
    <label>Title</label>
    <input type="text" name="title" autocomplete="off" />
  </div>
  <div class="required field">
    <label>Content</label>
    <textarea id="createSnippet" type="text" name="content" autocomplete="off"></textarea>
  </div>
  <button type="submit" class="ui button primary">Create Snippet</button>
  <a class="ui button red" href="./">Cancel</a>
</form>
</div>