<div class="textCenter">
<form id="formBlock" class="ui form center aligned basic segment" method="post" action="./{{viewData.snippet.id}}/delete">
<h1>Delete Snippet</h1>
  <p>Are you sure...?</p>
  <button type="submit" class="ui red button">Delete Snippet</button>
  <a class="ui button" href="./{{viewData.snippet.id}}">Back</a>
</form>
</div>